.catalogWrapper {
  display: flex;
  gap: 64px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  max-width: 100%;
}

.loadMoreBtn {
  display: block;
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 32px;
  width: auto;
  height: 56px;
  margin-right: auto;
  margin-left: auto;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main);

  transition: border 0.5s ease;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border: 1px solid var(--button);
}
