.equipmentList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 8px;
}

.equipmentItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 17px 27px;
  height: 95px;
  width: 112px;

  transition: transform 0.5s ease;
  cursor: pointer;
}

.equipmentItem:hover,
.equipmentItem:focus {
  transform: scale(1.1);
}

.equipmentText {
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  color: var(--main);
  margin-top: 8px;
}
